body {
  overflow: hidden;
  background-color: #252627;
  color: rgba(255, 255, 255, 0.87);
  font-family: "Inter", "Avenir", Helvetica, Arial, sans-serif;
}
.wrapper {

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    margin-top: -5%;
    text-align: center;

    .logo {
      height: 8rem;
      transition: all 0.4s ease-in-out;

      &:hover {
        // Glow effect
        filter: drop-shadow(0 0 0.6rem #583c8d);
      }
    }

    h1 {
      font-size: 3.2em;
    }

    p {
      font-size: 16px;
    }

    .button {
      margin-top: 0px;
      margin-bottom: 20px;
      padding: 10px 20px;
      border: 1px solid #fff;
      border-radius: 5px;
      background-color: transparent;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    
      &:hover {
        background-color: #fff;
        color: #252627;
      }
    }

    .mono {
      position: relative;
      font-family: 'Courier New', Courier, monospace;
      padding: 2px 10px;
      margin: 0px 5px;
      background: linear-gradient(to right, #7775fe 0%, #b025ef 100%);
      border-radius: 5px;
      font-size: 15px;
    }

    .links {
      margin-top: 50px;
      a {
        color: #646cff;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;

        &:hover {
          color: #575edf;
        }
      }

      .divider {
        margin: 0 10px;
        font-size: 25px;
      }
    }
  }
}
